@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
/* VARIABLES */
/* VARIABLES */
/* COMMON */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background-color: hsl(27deg, 66%, 92%);
}

/* /COMMON */
/* BALANCE */
.balance {
  display: flex;
  justify-content: space-between;
  padding: 28px 39px 26px 33px;
  background-color: hsl(10deg, 79%, 65%);
  border-radius: 20px;
}
.balance__info {
  color: hsl(33deg, 100%, 98%);
}
.balance__title {
  display: block;
  margin: 0 0 5px 0;
}
.balance__amount {
  font-size: 32px;
  font-weight: 700;
}

/* BALANCE */
/* EXPENSES CHART */
.expenses-chart {
  width: 540px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  color: hsl(25deg, 47%, 15%);
}
.expenses-chart__title {
  font-size: 32px;
  margin: 0 0 65px 0;
}
.expenses-chart__balance {
  margin: 0 0 20px 0;
}
.expenses-chart__details {
  padding: 35px 35px 40px 40px;
  background-color: hsl(33deg, 100%, 98%);
  border-radius: 20px;
}
.expenses-chart__chart {
  padding: 0 0 60px 0;
  border-bottom: 2px solid hsl(27deg, 66%, 92%);
}
.expenses-chart__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
  height: 150px;
}
.expenses-chart__item {
  position: relative;
  flex: 0 1 10.9%;
  border-radius: 5px;
  background-color: rgb(228, 124, 103);
  text-align: center;
}
.expenses-chart__item:hover {
  background-color: rgba(228, 124, 103, 0.7);
}
.expenses-chart__item:hover .expenses-chart__hint {
  visibility: visible;
  background-color: rgb(56, 35, 20);
  z-index: 1;
}
.expenses-chart__item:hover.expenses-chart__item_current {
  background-color: rgba(118, 181, 188, 0.7);
}
.expenses-chart__item_current {
  background-color: rgb(118, 181, 188);
}
.expenses-chart__hint {
  visibility: hidden;
  position: absolute;
  top: -33px;
  left: 0;
  min-width: 100%;
  width: fit-content;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  letter-spacing: 0.1em;
  font-size: 10px;
  border-radius: 5px;
  background-color: rgba(56, 35, 20, 0);
  color: hsl(33deg, 100%, 98%);
  transition: all 0.2s ease;
}
.expenses-chart__day {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 15px;
  color: hsl(28deg, 10%, 53%);
}
.expenses-chart__total {
  padding: 30px 0 0 0;
}

/* /EXPENSES CHART */
/* TOTAL */
.total {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.total__change {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 700;
}
.total__period {
  margin: 5px 0 0 0;
  color: hsl(28deg, 10%, 53%);
  display: block;
  font-weight: 400;
}
.total__amount {
  margin: 3px 0 0 0;
  font-size: 46px;
}

/* /TOTAL */
/* MEDIA */
@media screen and (max-width: 480px) {
  .expenses-chart__hint {
    font-size: 10px;
  }
  .expenses-chart__title {
    font-size: 18px;
  }
  .expenses-chart__day {
    font-size: 12px;
  }
  .total__period {
    font-size: 14px;
  }
  .total__amount {
    font-size: 22px;
  }
  .total__change {
    font-size: 18px;
  }
}
/* /MEDIA */

/*# sourceMappingURL=style.css.map */
